@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100..900&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans+SC:wght@100..900&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+HK:wght@200..900&family=Noto+Serif+JP:wght@200..900&family=Noto+Serif+KR:wght@200..900&family=Noto+Serif+SC:wght@200..900&family=Noto+Serif+TC:wght@200..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
    font-family: "MiSans";
    font-display: swap;
    font-weight: 200;
    font-style: normal;
    src: local("MiSans-ExtraLight"),
         url("https://bxx-114514.github.io/css-style/fonts/MiSans-ExtraLight.woff2") format("woff2"),
         url("https://bxx-114514.github.io/css-style/fonts/MiSans-ExtraLight.woff") format("woff");
}

@font-face {
    font-family: "MiSans";
    font-display: swap;
    font-weight: 300;
    font-style: normal;
    src: local("MiSans-Light"),
         url("https://bxx-114514.github.io/css-style/fonts/MiSans-Light.woff2") format("woff2"),
         url("https://bxx-114514.github.io/css-style/fonts/MiSans-Light.woff") format("woff");
}

@font-face {
    font-family: "MiSans";
    font-display: swap;
    font-weight: 400;
    font-style: normal;
    src: local("MiSans-Normal"), local("MiSans"),
         url("https://bxx-114514.github.io/css-style/fonts/MiSans-Normal.woff2") format("woff2"),
         url("https://bxx-114514.github.io/css-style/fonts/MiSans-Normal.woff") format("woff");
}

@font-face {
    font-family: "MiSans";
    font-display: swap;
    font-weight: 500;
    font-style: normal;
    src: local("MiSans-Medium"),
         url("https://bxx-114514.github.io/css-style/fonts/MiSans-Medium.woff2") format("woff2"),
         url("https://bxx-114514.github.io/css-style/fonts/MiSans-Medium.woff") format("woff");
}

@font-face {
    font-family: "MiSans";
    font-display: swap;
    font-weight: 600;
    font-style: normal;
    src: local("MiSans-SemiBold"),
         url("https://bxx-114514.github.io/css-style/fonts/MiSans-SemiBold.woff2") format("woff2"),
         url("https://bxx-114514.github.io/css-style/fonts/MiSans-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "MiSans";
    font-display: swap;
    font-weight: 700;
    font-style: normal;
    src: local("MiSans-Bold"),
         url("https://bxx-114514.github.io/css-style/fonts/MiSans-Bold.woff2") format("woff2"),
         url("https://bxx-114514.github.io/css-style/fonts/MiSans-Bold.woff") format("woff");
}

@font-face {
    font-family: "MiSans";
    font-display: swap;
    font-weight: 800;
    font-style: normal;
    src: local("MiSans-Heavy"),
         url("https://bxx-114514.github.io/css-style/fonts/MiSans-Heavy.woff2") format("woff2"),
         url("https://bxx-114514.github.io/css-style/fonts/MiSans-Heavy.woff") format("woff");
}

@font-face {
    font-family: "MiSans";
    font-display: swap;
    font-weight: 900;
    font-style: normal;
    src: local("MiSans-Demibold"),
         url("https://bxx-114514.github.io/css-style/fonts/MiSans-Demibold.woff2") format("woff2"),
         url("https://bxx-114514.github.io/css-style/fonts/MiSans-Demibold.woff") format("woff");
}

body {
    font-family: MiSans, Roboto, 'Noto Sans SC', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}